<div class="col-sm-4 mb-4">
    <div class="card">
        <div class="card-header bg-success text-light"><h5 class="card-title m-0 p-1 text-truncate"><%= project.title %></h5></div>
        <div class="card-body">
        
            <p class="card-text">Started on: <%= (project.startDate.getDate()+1)+'/'+project.startDate.getMonth()+'/'+project.startDate.getFullYear() %></p>

            <%
                let due = parseInt((project.dueDate.getTime()-(new Date()).getTime())/(1000*60*60));
                if(due<0 && due>-24) due = 'Due today';
                else if(due<-24) due = (project.progress=='100%')?'Completed '+Math.abs(due/24)+' day(s) ago':'Over due by ' + Math.abs(due/24) + ' day(s)';
                else due = 'Due in '+ due/24 + 'day(s)';
            %>

            <p class="card-text"><%=due%></p>
            <p class="card-text">Progress: <%= project.progress %> completed</p>
            <p class="card-text"><div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= project.progress %>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div></p>
            
            <a class="btn-link" href="/project/<%= project._id%>">See details</a>
        </div>
    </div>
</div>