<% layout('../layout.ejs') -%>

<div class="row container">
    <% if(!task){%>
        <h3 class="text-center mb-5 mt-3 rounded">No task</h3>
    <%}else{%>

        <div class="text-center col card m-2 p-2">
            <h3 class="text-center mb-3 mt-3 rounded"><%=task.title%></h3>
            <p>Description: <%= task.description %></p>
            <p>Started on: <%= (task.startDate.getDate()+1)+'/'+task.startDate.getMonth()+'/'+task.startDate.getFullYear() %> </p>

            <%
                let due = parseInt((task.dueDate.getTime()-(new Date()).getTime())/(1000*60*60));
                if(due<0 && due>-24) due = 'Due today';
                else if(due<-24) due = (task.status=='completed')?'Completed '+Math.abs(parseInt(due/24))+' day(s) ago':'Over due by ' + Math.abs(parseInt(due/24)) + ' day(s)';
                else due = 'Due in '+ parseInt(due/24) + 'day(s)';
            %>

            <p><%=due%> </p>
            
            <p>Member assigned: <%=task.user.name%></p>
            
            <%if(user.role=='user'){%>
                <ul class="nav nav-pills justify-content-center mb-3">
                <%if(task.status=="completed"){%>
                    <li class="nav-item m-1">
                        <%-`<a class="btn btn-secondary disabled" href="/project/${project._id}/task/${task._id}/update">Completed</a>`%>
                    </li>
                <%}else{%>
                    <li class="nav-item m-1">
                         <!-- Button trigger modal -->
                         <button type="button btn-primary" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Mark as completed
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Have you completed the task?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4><%=task.title%></h4>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <%-`<a class="btn btn-primary" href="/project/${project._id}/task/${task._id}/complete">Yes</a>`%>
                                </div>
                            </div>
                            </div>
                        </div>

                    </li>
                <%}%>
                </ul>
            <%}%>

            <%if(user.role!='user'){%>
                <ul class="nav nav-pills justify-content-center mb-3">
                    <li class="nav-item m-1">
                        <%-`<a class="nav-link active" href="/project/${project._id}/task/${task._id}/update">Update task</a>`%>
                    </li>
                    <li class="nav-item m-1">

                         <!-- Button trigger modal -->
                         <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Delete task
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Do you want to delete this task?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4><%=task.title%></h4>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="nav-link bg-danger active" href="/project/<%=project._id%>/task/<%=task._id%>/delete-task">Delete task</a>
                                </div>
                            </div>
                            </div>
                        </div>

                    </li>
                </ul>
            <%}%>

        </div>

    <%}%>
</div>